:root {
  --bg-color: linear-gradient(to right top, #1b1d20, #1e2229, #212833, #242d3d, #273347);
  --bg-alt: #1c3b53;
  --tertiary-color: #185272;
  --link: #1f6286;
  --title: #2b81c8;
  --font: #ffffff;

}

body {
  background-image: var(--bg-color);
  color: var(--font);
  font-size: 1.25em;
}